<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MBTileFile" value ="cities.mbtiles"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>